<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="farover">

    <gazebo>
        <plugin filename="gz-sim-diff-drive-system" name="gz::sim::systems::DiffDrive">
            <!-- Remove <ros> tag. -->
          
            <!-- wheels -->
            <left_joint>drivewhl_l</left_joint>
            <right_joint>drivewhl_r</right_joint>
          
            <!-- kinematics -->
            <wheel_separation>${wheel_ygap}</wheel_separation>
            <wheel_radius>${wheel_radius}</wheel_radius> <!-- computed from <wheel_diameter> in the original plugin-->
          
            <!-- limits -->
            <max_linear_acceleration>10</max_linear_acceleration> <!-- computed from <max_linear_acceleration> in the original plugin-->
          
            <topic>cmd_vel</topic> <!-- from <commant_topic> -->
          
            <odom_topic>odom</odom_topic> <!-- from <odometry_topic> -->
            <frame_id>odom</frame_id> <!-- from <odometry_frame> -->
            <child_frame_id>base_link</child_frame_id> <!-- from <robot_base_frame> -->
            <odom_publisher_frequency>30</odom_publisher_frequency> <!-- from <update_rate>-->
          
            <tf_topic>/tf</tf_topic> <!-- Short topic name for tf output -->
          
          </plugin>
    </gazebo>
</robot>